
@media (min-width: 600px) {
    .card {
        width: 50%;
        box-sizing: border-box;
        float: left;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
}

img {
    margin-left: auto;
    margin-right: auto;
}